@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.yellow{
  background-color: #b8e70e;
}

.red{
  background-color: red;
}

.white{
  background-color: #fff;
}

.button{
  cursor: pointer;
  padding: 8px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #8a0cf1;
}
.button:hover{
  color: aliceblue;
  background-color: #740aca;
}

